<nb-card>
    <nb-card-header>
        Nuevo producto
        <button nbButton class="float-right" (click)="save()">
            <nb-icon class="action-icon" icon="close-circle-outline"></nb-icon>
        </button>
    </nb-card-header>
    <nb-card-body>
        <!-- Code & Name -->
        <div class="row">
            <div class="col-sm-6">
                <label for="inputCode" class="label">Código</label>
                <div class="form-group row">
                    <img src="../../../assets/images/code.png" alt="codigo.png" class="col-4" style="height: 40px;">
                    <input type="text" class="col-8" nbInput fullWidth id="inputCode" placeholder="Código">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="inputName" class="label">Nombre</label>
                    <input type="text" nbInput fullWidth id="inputName" placeholder="Nombre">
                </div>
            </div>
        </div>
        <!-- Description -->
        <div class="form-group">
            <label for="inputDescription" class="label">Descripción</label>
            <textarea rows="2" nbInput fullWidth placeholder="Descripción del producto" id="inputDescription"></textarea>
        </div>
        <!-- Stock & Presentation -->
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="inputStock" class="label">Stock</label>
                    <input type="number" nbInput fullWidth id="inputStock" placeholder="Existencia">
                </div>
            </div>
            <div class="col-sm-6">
                <label for="inputPresentation" class="label">Presentación</label>
                <div class="form-group">
                    <nb-select id="inputPresentation" selected="0" style="width: 100%; max-width: 100%;">
                        <nb-option value="0">Selecciona una presentación</nb-option>
                        <nb-option value="1">Option 1</nb-option>
                        <nb-option value="2">Option 2</nb-option>
                    </nb-select>
                </div>
            </div>
        </div>
        <!-- Price -->
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="inputPurchasePrice" class="label">Precio Compra</label>
                    <input type="number" nbInput fullWidth id="inputPurchasePrice" placeholder="Precio compra">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="inputSalePrice" class="label">Precio Venta</label>
                    <input type="number" nbInput fullWidth id="inputSalePrice" placeholder="Precio venta">
                </div>
            </div>
        </div>
        <!-- Price Sales XM & Discount -->
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="inputSalePriceM" class="label">Precio Venta/Mayor</label>
                    <input type="number" nbInput fullWidth id="inputSalePriceM" placeholder="Precio venta por mayor">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="inputDiscount" class="label">Descuento</label>
                    <input type="number" nbInput fullWidth id="inputDiscount" placeholder="Descuento">
                </div>
            </div>
        </div>
        <!-- Expiration & Date -->
        <div class="row">
            <div class="col-sm-6">
                <label for="checkExpiration" class="label">Vencimiento</label>
                <nb-radio-group [(value)]="valueExpiration">
                    <nb-radio
                      [value]="1">
                      Si
                    </nb-radio>
                    <nb-radio
                      [value]="0">
                      No
                    </nb-radio>
                </nb-radio-group>
            </div>
            <div class="col-sm-6">
                <label for="inputDateExpiration" class="label">Fecha Vencimiento</label>
                <div class="form-group">
                    <input nbInput
                        placeholder="Fecha de vencimiento"
                        [nbDatepicker]="formpicker" style="width: 100%; max-width: 100%;">
                    <nb-datepicker #formpicker ></nb-datepicker>
                </div>
            </div>
        </div>
        <!-- Warranty & Date -->
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="inputWarranty" class="label">Garantía</label>
                    <input type="number" nbInput fullWidth id="inputWarranty" placeholder="Cantidad">
                </div>
            </div>
            <div class="col-sm-6">
                <label for="inputDurationn" class="label">Duracion</label>
                <div class="form-group">
                    <nb-select id="inputDurationn" selected="0" style="width: 100%; max-width: 100%;">
                        <nb-option value="0">N/A</nb-option>
                        <nb-option value="1">Dias</nb-option>
                        <nb-option value="2">Semanas</nb-option>
                        <nb-option value="3">Mes</nb-option>
                        <nb-option value="4">Año</nb-option>
                    </nb-select>
                </div>
            </div>
        </div>
        <!-- Supplier & Category -->
        <div class="row">
            <div class="col-sm-6">
                <label for="inputSupplier" class="label">Proveedor</label>
                <div class="form-group">
                    <nb-select id="inputSupplier" selected="0" style="width: 100%; max-width: 100%;">
                        <nb-option value="0">Selecciona un proveedor</nb-option>
                        <nb-option value="1">Proveedor 1</nb-option>
                        <nb-option value="2">Proveedor 2</nb-option>
                        <nb-option value="3">Proveedor 3</nb-option>
                        <nb-option value="4">Proveedor 4</nb-option>
                    </nb-select>
                </div>
            </div>
            <div class="col-sm-6">
                <label for="inputCategory" class="label">Categoria</label>
                <div class="form-group">
                    <nb-select id="inputCategory" selected="0" style="width: 100%; max-width: 100%;">
                        <nb-option value="0">Selecciona una categoria</nb-option>
                        <nb-option value="1">Proveedor 1</nb-option>
                        <nb-option value="2">Proveedor 2</nb-option>
                        <nb-option value="3">Proveedor 3</nb-option>
                        <nb-option value="4">Proveedor 4</nb-option>
                    </nb-select>
                </div>
            </div>
        </div>
        <!-- Model & Mark -->
        <div class="row">
            <div class="col-sm-6">
                <label for="inputModel" class="label">Modelo</label>
                <div class="form-group">
                    <nb-select id="inputModel" selected="0" style="width: 100%; max-width: 100%;">
                        <nb-option value="0">Selecciona un modelo</nb-option>
                        <nb-option value="1">Modelo 1</nb-option>
                        <nb-option value="2">Modelo 2</nb-option>
                        <nb-option value="3">Modelo 3</nb-option>
                        <nb-option value="4">Modelo 4</nb-option>
                    </nb-select>
                </div>
            </div>
            <div class="col-sm-6">
                <label for="inputMark" class="label">Marca</label>
                <div class="form-group">
                    <nb-select id="inputMark" selected="0" style="width: 100%; max-width: 100%;">
                        <nb-option value="0">Selecciona una Marca</nb-option>
                        <nb-option value="1">Marca 1</nb-option>
                        <nb-option value="2">Marca 2</nb-option>
                        <nb-option value="3">Marca 3</nb-option>
                        <nb-option value="4">Marca 4</nb-option>
                    </nb-select>
                </div>
            </div>
        </div>
        <br>
        <button nbButton status="primary" outline class="float-right" (click)="save()">
            Guardar
        </button>
        <button nbButton status="danger" outline class="float-right mr-4" (click)="save()">
            Cancelar
        </button>
    </nb-card-body>
</nb-card>