
<div *ngIf="showModal">
    <ngx-new-product [product]="product" (btnSave)="showModal = !$event"></ngx-new-product>
</div>

<nb-card *ngIf="!showModal">
    <nb-card-header>
      Productos
        <button nbButton status="primary" outline class="float-right" size="small"
                        (click)="addProduct()" title="Agregar producto">
            <nb-icon icon="plus-outline"></nb-icon>
            Nuevo
        </button>
    </nb-card-header>
  
    <nb-card-body>
        
        <ng2-smart-table [settings]="settings" [source]="source" #table
                         (custom)="onSelect($event)">
        </ng2-smart-table>
    </nb-card-body>

</nb-card>