
<div *ngIf="showModalNew">
    <ngx-new-product [product]="product" (btnSave)="closeModel($event)"></ngx-new-product>
</div>

<nb-card *ngIf="!showModalNew">
    <nb-card-header>
        <button nbButton status="primary" outline class="float-right" size="small"
                        (click)="openModal()" title="Agregar producto">
            <nb-icon icon="plus-outline"></nb-icon>
            Nuevo
        </button>
        <h6 class="mt-2">
            Productos
        </h6>
    </nb-card-header>
  
    <nb-card-body>
        
        <ng2-smart-table [settings]="settings" [source]="source" #table
                         (custom)="onSelect($event)">
        </ng2-smart-table>
    </nb-card-body>

</nb-card>