
:host ::ng-deep ng2-st-tbody-edit-delete {display: flex !important;
    height: 0 !important;
}

:host ::ng-deep ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom {
    display: inline-block;
    width: 35px;
    text-align: center;
    padding-top: 10px;
}

:host ::ng-deep ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom:hover {
    color: #0eb1ce;
}
