<div *ngIf="showModal">
    <ngx-new-category (btnSave)="showModal = !$event"></ngx-new-category>
</div>

<nb-card *ngIf="!showModal">
    <nb-card-header>
        <button nbButton status="primary" outline class="float-right" (click)="openModalNew()">
            <nb-icon icon="plus-outline"></nb-icon>
            Nuevo
        </button>

        <h6 class="mt-2">
            Categorias
        </h6>
    </nb-card-header>
  
    <nb-card-body>
        <ng2-smart-table [settings]="settings" [source]="source"  #tableCategory
                        (delete)="onDelete($event)" (edit)="openModalNew($event)">
        </ng2-smart-table>
    </nb-card-body>
</nb-card>