<nb-card>
    <nb-card-header>
        <button nbButton class="float-right" (click)="onReset()" >
            <nb-icon class="action-icon" icon="close-circle-outline"></nb-icon>
        </button>
        {{ title }}
    </nb-card-header>
    <nb-card-body>
        <form novalidate [formGroup]="markForm">
            <!-- Name -->
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="inputName" class="label"><span class="text-danger">* </span>Nombre</label>
                        <input type="text" nbInput fullWidth id="inputName" placeholder="Nombre"
                               formControlName="name" [status]="isValidField('name') ? 'danger' : 'basic'">
                        <div [ngClass]="isValidField('name') ? '' : 'd-none'">
                            <label for="" class="text-danger text-alert">El nombre de la marca es requerido</label>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <button nbButton status="primary" outline class="float-right" size="small" [disabled]="!markForm.valid" (click)="save()"> 
                Guardar
            </button>
            <button nbButton status="danger" outline class="float-right mr-4" size="small" (click)="onReset()">
                Cancelar
            </button>
        </form>
    </nb-card-body>
</nb-card>